---
layout: default
title: Portfolio
---

<html>

    <header class="social-media-2">
      <a href="http://www.facebook.com/RutherfordRobyn"><img src="images/facebook.svg" alt="face book"></a>
      <a href="https://twitter.com/RutherfordRobyn"><img src="images/twitter.svg" alt="twitter"></a>
      <a href="http://www.linkedin.com/profile/view?id=196115482 & trk=hb_tab_pro_top"><img src="images/linkedin.svg" alt="Linkedin"></a>
      <a href="mailto:rrutherford6591@hotmail.ca"><img src="images/mail.svg" alt="Email"></a>
    </header>

    {% for page in site.pages %}
      {% if page.category == "art-work" %}
      <div class="my-work">
        <h2>{{page.name}}</h2>
        {{page.content}}
      </div>
      {% endif %}
    {% endfor %}

    <footer>
      {% include footer.html %}

    </footer>


</html>
