<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{page.title}} - Company Name</title>
  <link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1,target-densitydpi=device-dpi">
</head>
<body>

  <nav class="nav-top">
    <a href="{{site.baseurl}}/index.html">Home</a>
    <a href="{{site.baseurl}}/portfolio.html">Portfolio</a>
  </nav>

  <header class="social-media">
      <a href="http://www.facebook.com/RutherfordRobyn"><img src="images/facebook.svg" alt="face book"></a>
      <a href="https://twitter.com/RutherfordRobyn"><img src="images/twitter.svg" alt="twitter"></a>
      <a href="http://www.linkedin.com/profile/view?id=196115482 & trk=hb_tab_pro_top"><img src="images/linkedin.svg" alt="Linkedin"></a>
      <a href="mailto:rrutherford6591@hotmail.ca"><img src="images/mail.svg" alt="Email"></a>
    </header>

{{content}}

</body>
</html>
