<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{page.title}} - Robyn Rutherford</title>
  <link href="css/general.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1,target-densitydpi=device-dpi">
</head>
<body>

  <nav class="nav-top">
    <a href="index.html">Home</a>
    <a href="portfolio.html">Portfolio</a>
  </nav>



{{content}}

</body>
</html>
